/* 
    Name: _footer
    Descr: footer styles
*/
footer {
  margin-top: 6rem;
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 1em;

    li {
      margin: 0.5em 1em;
    }
    @include mq(small) {
      padding: 0 2em 4em;
      flex-direction: row;
      font-size: 0.75rem;
    }
  }
  a {
  }
}
