/* 
    Name: _footer
    Descr: footer styles
*/
footer {
  margin-top: 6rem;
  display: grid;
  @include mq(medium) {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 2rem;
    .contact {
      grid-column: 1;
      grid-row: 1;
    }
    form {
      grid-column: 2;
      grid-row: 1;
    }
    ul {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    font-size: 0.75rem;
    max-width: 100% !important;
    border-top: 1px solid var(--brandTwo);
    padding-top: 1rem;
    li {
      // margin: 0.5em 1em;
    }
    // @include mq(small) {
    //   padding: 0 2em 4em;
    //   flex-direction: row;
    //   font-size: 0.75rem;
    // }
  }
  a {
  }
}
