/* 
    Name: _header
    Descr: Styles the main page header
*/

.pageHeader {
  display: grid;
  @include mq(medium) {
    grid-template-columns: 1fr 1fr;
  }

  align-items: center;
}

.logo {
  display: grid;
  @include mq(large) {
    grid-template-columns: 120px 1fr;
  }
  align-items: center;
  a {
    font-size: 1.5rem;
    font-weight: var(--fontExtraBold);
    text-decoration: none;
    @include mq(large) {
      margin-left: 1.25rem;
    }
    span {
      display: block;
      font-size: 0.75rem;
      font-weight: var(--fontMedium);
      margin-top: -0.25rem;
    }
  }
  img {
    max-width: 100px;
    @include mq(large) {
      max-width: 100%;
    }
  }
}
