<div class="quotes carousel">
    {% for item in quotes%}
	<div class="quote">
		<div class="quote__image">
			<img src="{{item.image_path}}" alt="{{item.image_alt}}">
			
		</div>
		<blockquote>
			<p>{{item.quote}}</p>
			<p class="quote__attribution">
				{{item.name}} <br />{{item.position}}
			</p>
		</blockquote>
	</div>
    {% endfor %}
</div>