            <nav class="mainNav">
                {% for item in navigation %}
                    <a href="{{ item.link }}" class="{{ item.class }}">
                    {{ item.name }}
                </a>
                {% endfor %}
            </nav>