<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <link rel="stylesheet" href="/css/main.css">
    <title>{{title}} | Marteal Consulting</title>
    {# <link rel="stylesheet" href="/css/animate.css"> #}
   {#  <link rel="stylesheet" href="https://use.typekit.net/vfb8yty.css"> #}
    {# <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>
    <script src="/js/magnific.js"></script>
    <script src="/js/scripts.js"></script> #}
    
    {# {% seo %} #}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    {# <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153281492-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-153281492-1');
    </script> #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,900&display=swap" rel="stylesheet">
 <script src="/js/jquery-3.4.1.min.js"></script>
 <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
 <script src="/js/flickity-calls.js" defer></script>
 <script src="/js/scripts.js" defer></script>

</head>

<body class="{{bodyClass}}">
  
     <div class="wrapper">
        <header class="pageHeader">
        <div class="logo">
            <img src="/images/tisha-circle-2.png" alt="">
            <a href="/">Marteal Consulting, LLC<span>Supporting nonprofit leadership and success</span></a>
        </div>
            {% include "_navigation.njk" %}
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer>
            <div class="contact">
                <h2>
                    Contact
                </h2>
                <p>
                  I look forward to hearing from you and learning about your goals. Let’s connect!
                </p>               
            </div>
            <form name="contact" method="POST" data-netlify="true" id="contact-form">
                <p>
                    <label for="name">Your name: <br /><input type="text" name="name" id="name" /></label>
                </p>
                <p>
                    <label for="email">Your email: <br /><input type="email" name="email" id="email" /></label>
                </p>
                <p>
                    <label>Tell us about your project: <br /><textarea name="message"></textarea></label>
                </p>
                <p>
                    <button type="submit">Send</button>
                </p>
            </form>
            <ul>
                <li>
                    <a href="mailto:martealconsulting@gmail.com">Email Marteal Consulting</a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/erin-marteal-105a03b/">Erin Marteal on Linkedin</a>
                </li>
                <li>
                    <a href="tel:1-607-227-1657">1-607-227-2982</a>
                </li>
                <li>
                    &copy; 2022, Marteal Consulting, LLC
                </li>
                {# <li>
                    Website design<a href="mailto: bobmarteal@gmail.com">Bob Marteal</a>
                </li> #}
            </ul>
        </footer>
    </div>

   
</body>

</html>