/* 
    Name: _base
    Descr: body and html styles
*/
body {
  background: var(--bodyBackground);
  background: var(--containerBackground);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
html {
  font-family: var(--mainFont);
  font-size: var(--baseFontSize);
  font-weight: var(--fontMedium);
  line-height: var(--baseLineHeight);
  color: var(--textMain);
}

// .container {
//   max-width: var(--xl);
//   padding: 1rem;
// }

.wrapper {
  max-width: var(--xl);
  padding: 1rem;
  @include mq(medium) {
    padding: 4rem 2rem;
  }
  @include mq(large) {
    padding: 4rem;
  }

  margin: 0 auto;
  background: var(--containerBackground);
}
