/* 
    Name: _text
    Descr: Base text styles, main body links, all the headin's
*/

p {
  margin: 0;
  margin-top: 1em;
}

@include mq(laxlrge) {
  main {
    p,
    ul {
      font-size: 1.5rem;
    }
  }
}

a {
  color: var(--textMain);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* + h2 {
  margin-top: 1em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  @include mq(medium) {
    // font-size: 2rem;
  }

  font-weight: var(--fontBold);
  position: relative;
  margin-top: 1em;
  line-height: 1.2;
  &::after {
    position: absolute;
    content: "";
    background-color: var(--brandOne);
    height: 4px;
    width: 100px;
    left: 0;
    bottom: -6px;
    border-radius: var(--borderRadius);
  }
}

/// classes for page and section headers
.page__title,
.block__title {
  font-weight: var(--fontExtraBold);
  font-size: 2.5rem;
  @include mq(medium) {
    font-size: 3;
  }
  margin: 0;
  line-height: 1;
}

// lists
ul {
  padding-left: 1em;
  li {
    margin-top: 0.25em;
  }
}
