/* 
    Name: _text
    Descr: Base text styles, main body links, all the headin's
*/

p {
  margin: 0;
  margin-top: 1em;
}

a {
  color: var(--textMain);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h2,
h3 {
  // font-weight: var(--fontMedium);
}

* + h2 {
  margin-top: 1em;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.5rem;
  @include mq(medium) {
    // font-size: 2rem;
  }
  position: relative;
  display: inline-block;
  margin-top: 1em;
  line-height: 1.2;
  &::after {
    position: absolute;
    content: "";
    background-color: var(--brandOne);
    height: 1px;
    width: 200px;
    left: 0;
    bottom: -6px;
    border-radius: var(--borderRadius);
  }
}

/// classes for page and section headers
.page__title,
.block__title {
  font-weight: var(--fontExtraBold);
  font-size: 2.5rem;
  @include mq(medium) {
    font-size: 3;
  }
  margin: 0;
  line-height: 1;
}

// lists
ul {
  padding-left: 1em;
  li {
    margin-top: 0.25em;
  }
  &.twoColumns {
    column-count: 2;
    li {
      margin-right: 1em;
    }
  }
}
h2 + ul,
h3 + ul,
ul + p {
  margin-top: 1.5em;
}

p,
ul {
  max-width: 70ch;
}

// step
.step {
  font-weight: var(--fontExtraBold);
  color: var(--brandOne);
  font-size: 1.5em;
  background-color: var(--containerBackgroundTrans);
  width: 166px;
  height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-top: 2rem;
}

// introduction
.introduction {
  font-size: 1.25rem;
  max-width: 80ch;
}
