/* 
    Name: _footer
    Descr: footer styles
*/
footer {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: 1px solid var(--light-gray);
  background: var(--smoke);
  color: var(--white);
  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    padding: 1em;

    li {
      margin: 0.5em 1em;
    }
    @include sm {
      padding: 0 2em 4em;
      flex-direction: row;
      font-size: 0.75rem;
    }
  }
  a {
    color: var(--white);
  }
}
