/* 
    Name: _header
    Descr: Styles the main page header
*/

.pageHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:
        url(/images/teal-triangle.svg),
        url(/images/yellow-triangle.svg),
        url(/images/blue-thing.svg);
    background-position: 
        top left,
        top right,
        top left;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
}