/* 
    Name: _headings
    Descr: Style all headings in the website
*/

h1, h2, h3{
    line-height: 1.2;
}

.siteTitle{
    width: 300px;
    height: 300px;
    background: url("/images/MCW-logo.svg");
    font-size: 100px;
    //color: $bgColor;
    text-indent: -9999px;
}


.pageTitle{
    
}