/* 
    Name: _utilities
    Descr: Styles for all the bits and bobs that go beyond each element
*/

.left {
  @include sm() {
    float: left;
  }
}
.right {
  @include sm() {
    float: right;
  }
}
.centered {
  margin-left: 50%;
  transform: translateX(-50%);
}

.fortyP {
  @include sm {
    max-width: 40%;
  }
}
