$screen-xs-min: 425px; // Tiny phones
$screen-sm-min: 768px; // Small tablets and large smartphones (landscape view)
$screen-md-min: 960px; // Small tablets (portrait view)
$screen-lg-min: 1200px; // Tablets and small desktops
$screen-xl-min: 1440px; // Large tablets and desktops

/* 
    Name: _mixins
    Descr: All of the mixins
*/

// media queries
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
} // Tiny devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
} // Small devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
} // Medium devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
} // Large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
} // Extra large devices

//box shadow
@mixin boxShadow() {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

//text shadow
@mixin textShadow() {
  text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

/* 
    Name: _vars
    Descr: All of the vars
*/

:root {
  --wrapper-max-width: 1440px;
  --main-max-width: 954px;

  --border-radius: 4px;

  //colors
  --teal: #3a9595;
  --yellow: #f3f644;
  --blue: #59bbe4;
  --green: #245e5e;

  --smoke: #346f87;

  --light-gray: #f8f8f8;
  --white: #fff;
  --black: #444;

  //fonts
  --serif: "museo-slab", serif;
  --sans: "proxima-nova", sans-serif;

  //font-sizes
  --base-font-size: 20px;
  @include md() {
    --base-font-size: 28px;
  }
  --base-line-height: 1.4;

  --main-nav-size: calc(1.25 * (var(--base-font-size)));

  //font-weights
  --light-weight: 300;
  --medium-weight: 600;
  --extra-weight: 900;
}
