:root {
  --xsmall: 320px;
  --small: 480px;
  --medium: 782px;
  --header: 960px;
  --large: 1224px;
  --xl: 1432px;
  --xxl: 1640;
}

:root {
  --bodyBackground: #e5e5e5;
  --containerBackground: hsl(220 35% 15% / 1);
  --containerBackgroundTrans: hsl(220 35% 15% / 0.9);
  --brandOne: #df4b2e;
  --brandTwo: #4ba3ce;
  --textMain: #fff;
  --mainFont: "Raleway", sans-serif;
  --baseFontSize: 20px;
  --baseLineHeight: 1.5;
  --fontMedium: 500;
  --fontSemi: 600;
  --fontBold: 700;
  --fontExtraBold: 800;
}
@media only screen and (min-width: 960px) {
  :root {
    --baseFontSize: 24px;
  }
}

/*
  -solid colors
  -gradients
*/
/*
  -various itesm
*/
:root {
  --borderRadius: 8px;
}

/* 
    Name: _base
    Descr: body and html styles
*/
body {
  background: var(--bodyBackground);
  background: var(--containerBackground);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html {
  font-family: var(--mainFont);
  font-size: var(--baseFontSize);
  font-weight: var(--fontMedium);
  line-height: var(--baseLineHeight);
  color: var(--textMain);
  scroll-behavior: smooth;
}

main {
  margin-top: 4rem;
}

.wrapper {
  max-width: var(--xl);
  padding: 1rem;
  margin: 0 auto;
  background: var(--containerBackground);
}
@media only screen and (min-width: 782px) {
  .wrapper {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 1224px) {
  .wrapper {
    padding: 4rem;
  }
}

/* 
    Name: _images
    Descr: Style all images
    -pano
    -inline
    -shows
*/
img {
  max-width: 100%;
  border-radius: var(--borderRadius);
}
img.plain {
  box-shadow: none;
}
img.right {
  margin-left: 1rem;
  max-width: 60%;
}

figure {
  border-bottom: 4px solid var(--green);
  padding-bottom: 0.5rem;
  margin-top: 0.25rem;
}
figure figcaption {
  font-size: 0.75rem;
}
figure.right {
  margin-left: 1.5rem;
  margin-right: 0;
}
figure.left {
  margin-right: 1.5rem;
  margin-left: 0;
}

/* 
    Name: _text
    Descr: Base text styles, main body links, all the headin's
*/
p {
  margin: 0;
  margin-top: 1em;
}

@media only screen and (min-width: ) {
  main p,
main ul {
    font-size: 1.5rem;
  }
}
a {
  color: var(--textMain);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

* + h2 {
  margin-top: 1em;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fontBold);
  position: relative;
  margin-top: 1em;
  line-height: 1.2;
}
h3::after {
  position: absolute;
  content: "";
  background-color: var(--brandOne);
  height: 4px;
  width: 100px;
  left: 0;
  bottom: -6px;
  border-radius: var(--borderRadius);
}

.page__title,
.block__title {
  font-weight: var(--fontExtraBold);
  font-size: 2.5rem;
  margin: 0;
  line-height: 1;
}
@media only screen and (min-width: 782px) {
  .page__title,
.block__title {
    font-size: 3;
  }
}

ul {
  padding-left: 1em;
}
ul li {
  margin-top: 0.25em;
}

/* 
    Name: _utilities
    Descr: Styles for all the bits and bobs that go beyond each element
*/
.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  margin-left: 50%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 480px) {
  .fortyP {
    max-width: 40%;
  }
}

/* -------------------------

Title: Visibilities 
Descr: any hiding or showin

--------------------------- */
.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  z-index: -1;
}

.sr-only {
  display: block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px);
  white-space: nowrap;
  position: absolute;
}

/* 
    Name: _header
    Descr: Styles the main page header
*/
.pageHeader {
  display: grid;
  align-items: center;
}
@media only screen and (min-width: 782px) {
  .pageHeader {
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  display: grid;
  align-items: center;
}
@media only screen and (min-width: 1224px) {
  .logo {
    grid-template-columns: 120px 1fr;
  }
}
.logo a {
  font-size: 1.5rem;
  font-weight: var(--fontExtraBold);
  text-decoration: none;
}
@media only screen and (min-width: 1224px) {
  .logo a {
    margin-left: 1.25rem;
  }
}
.logo a span {
  display: block;
  font-size: 0.75rem;
  font-weight: var(--fontMedium);
  margin-top: -0.25rem;
}
.logo img {
  max-width: 100px;
}
@media only screen and (min-width: 1224px) {
  .logo img {
    max-width: 100%;
  }
}

/* 
    Name: _footer
    Descr: footer styles
*/
footer {
  margin-top: 6rem;
  display: grid;
}
@media only screen and (min-width: 782px) {
  footer {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 2rem;
  }
  footer .contact {
    grid-column: 1;
    grid-row: 1;
  }
  footer form {
    grid-column: 2;
    grid-row: 1;
  }
  footer ul {
    grid-column: 1/-1;
    grid-row: 2;
  }
}
footer ul {
  list-style-type: none;
  padding: 0;
  font-size: 0.75rem;
  max-width: 100% !important;
  border-top: 1px solid var(--brandTwo);
  padding-top: 1rem;
}
/* 
    Name: _main
    Descr: Styles the main element
*/
.basicPage h1,
.basicPage h2,
.basicPage h3,
.basicPage ul,
.basicPage ol,
.basicPage p {
  max-width: var(--header);
}

/* 
    Name: _hero
    Descr: Style for the hero image and header
*/
.hero {
  display: grid;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 782px) {
  .hero {
    grid-template-columns: 6fr 4fr;
  }
}
.hero h1 {
  font-size: 2rem;
  font-weight: var(--fontExtraBold);
  line-height: 1em;
}
@media only screen and (min-width: 1224px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}

/* 
    Name: _mainNav
    Descr: Styles responsive and full version of main navigaiton
*/
.mainNav {
  display: flex;
  gap: 0.5em;
}
@media only screen and (min-width: 782px) {
  .mainNav {
    align-items: center;
    justify-content: flex-end;
  }
  .mainNav a {
    padding: 0.5em;
  }
}
@media (max-width: 782px) {
  .mainNav {
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 30%;
    background: var(--containerBackground);
    padding: min(20vh, 8rem) 2rem;
    transform: translateX(100%);
    z-index: 1000;
    transition: transform 150ms ease-in;
  }
  @supports (backdrop-filter: blur(2rem)) {
    .mainNav {
      background: var(--containerBackgroundTrans);
      backdrop-filter: blur(3rem);
    }
  }
  .mainNav a {
    display: inline-block;
    padding: 0.25em 0.5em;
    font-weight: var(--fontSemi);
  }
  .mainNav[data-visible=true] {
    transform: translateX(0%);
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 782px) {
  .mobile-nav-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2rem;
    position: absolute;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }
  .mobile-nav-toggle .bar {
    width: 100%;
    height: 4px;
    border-radius: var(--borderRadius);
    background: var(--textMain);
    position: relative;
  }
  .mobile-nav-toggle .bar::before, .mobile-nav-toggle .bar::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: var(--borderRadius);
    background: var(--textMain);
    transition: transform 150ms ease-in;
  }
  .mobile-nav-toggle .bar::before {
    top: -0.8em;
  }
  .mobile-nav-toggle .bar::after {
    top: 0.8em;
  }
  .mobile-nav-toggle[aria-expanded=true] .bar {
    background: transparent;
  }
  .mobile-nav-toggle[aria-expanded=true] .bar::before {
    transform: rotateZ(45deg) scaleX(1.25) translate(8px, 8px);
  }
  .mobile-nav-toggle[aria-expanded=true] .bar::after {
    transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
  }
}
/* 
    Name: _block
    Descr: Style the inpage block sections
*/
.block {
  margin-top: 2rem;
}
@media only screen and (min-width: 782px) {
  .block {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 1432px) {
  .block {
    margin-top: 6rem;
  }
}

.block--circly {
  position: relative;
  z-index: 2;
}
@media only screen and (min-width: 782px) {
  .block--circly::before {
    position: absolute;
    content: "";
    background-image: url("/images/tishas-circle-big.png");
    background-repeat: no-repeat;
    width: 800px;
    height: 800px;
    top: 0rem;
    right: -50%;
    border-radius: 50%;
    z-index: -1;
  }
}
@media only screen and (min-width: 782px) and (min-width: 1224px) {
  .block--circly::before {
    top: 3rem;
    right: calc(-1 * (50% - 10rem));
  }
}
@media only screen and (min-width: 782px) and (min-width: 1432px) {
  .block--circly::before {
    right: -20%;
  }
}

/* 
    Name: _columns
    Descr: filling out simple column layouts
*/
.columns {
  display: grid;
  gap: 4rem;
}

.columns--two {
  position: relative;
}
@media only screen and (min-width: 960px) {
  .columns--two {
    grid-template-columns: 1fr 1fr;
  }
  .columns--two::before {
    content: "";
    position: absolute;
    background: var(--brandTwo);
    width: 1px;
    height: 100%;
    left: calc(50% - 1px);
  }
}

@media only screen and (min-width: 782px) {
  .columns--two-one {
    grid-template-columns: 2fr 1fr;
  }
}

/* 
    Name: _lists
    Descr: basic list styles
*/
ul {
  list-style-type: circle;
}

/* 
    Name: _blockquote
    Descr: Styles the blockquotes
*/
.quote {
  border-top: 1px solid var(--brandTwo);
  border-bottom: 1px solid var(--brandTwo);
  overflow-y: visible;
  display: flex;
  flex-direction: column-reverse;
  margin: 3rem 0;
  position: relative;
}
@media only screen and (min-width: 782px) {
  .quote {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 1rem;
  }
}
@media only screen and (min-width: 960px) {
  .quote {
    grid-template-columns: 300px 1fr;
  }
}
@media only screen and (min-width: 1432px) {
  .quote {
    grid-template-columns: 400px 1fr;
  }
}
.quote .quote__image {
  padding: 2rem;
}
@media only screen and (min-width: 782px) {
  .quote .quote__image {
    padding-right: 0;
  }
}
.quote blockquote {
  font-style: italic;
}
@media only screen and (min-width: 782px) {
  .quote blockquote {
    font-size: 1.25rem;
  }
}
.quote::before, .quote::after {
  position: absolute;
  content: "";
  width: 2em;
  height: 2em;
  background: var(--brandOne);
  background-image: url(/images/quote.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid var(--brandTwo);
  border-radius: 50%;
}
.quote::before {
  top: -1.5em;
  left: 3rem;
}
.quote::after {
  bottom: -1.5em;
  right: 2rem;
  transform: scaleX(-1);
}

.flickity-enabled .quote {
  opacity: 0.05;
  transition: opacity 150ms ease-in;
}
.flickity-enabled .quote.is-selected {
  opacity: 1;
}

form {
  flex: 0 0 50%;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.25rem;
}

textarea {
  height: 4rem;
}

button {
  width: 40%;
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: hsla(0deg, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* 
    Name: _buttons
    Descr: Basic styles for buttons
*/
.button {
  border-radius: var(--borderRadius);
  padding: 0.5em 1em;
  font-size: 1rem;
  display: inline-block;
}
.button--cta {
  background: var(--brandOne);
}
.button--primary {
  background: var(--brandTwo);
  margin-top: 1em;
}

/*# sourceMappingURL=main.css.map */
