:root {
  --xsmall: 320px;
  --small: 480px;
  --medium: 782px;
  --header: 900px;
  --large: 1224px;
  --xl: 1432px;
  --xxl: 1640;
}

:root {
  --bodyBackground: #e5e5e5;
  --containerBackground: #192234;
  --brandOne: #df4b2e;
  --brandTwo: #4ba3ce;
  --textMain: #fff;
  --mainFont: "Raleway", sans-serif;
  --baseFontSize: 20px;
  --baseLineHeight: 1.5;
  --fontMedium: 500;
  --fontSemi: 600;
  --fontBold: 700;
  --fontExtraBold: 800;
}
@media only screen and (min-width: 900px) {
  :root {
    --baseFontSize: 24px;
  }
}

/*
  -solid colors
  -gradients
*/
/*
  -various itesm
*/
:root {
  --borderRadius: 8px;
}

/* 
    Name: _base
    Descr: body and html styles
*/
body {
  background: var(--bodyBackground);
  background: var(--containerBackground);
  padding: 0;
  margin: 0;
}

html {
  font-family: var(--mainFont);
  font-size: var(--baseFontSize);
  font-weight: var(--fontMedium);
  line-height: var(--baseLineHeight);
  color: var(--textMain);
}

.wrapper {
  max-width: var(--xl);
  padding: 1rem;
  margin: 0 auto;
  background: var(--containerBackground);
}
@media only screen and (min-width: 782px) {
  .wrapper {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 1224px) {
  .wrapper {
    padding: 4rem;
  }
}

/* 
    Name: _images
    Descr: Style all images
    -pano
    -inline
    -shows
*/
img {
  max-width: 100%;
  border-radius: var(--borderRadius);
}
img.plain {
  box-shadow: none;
}
img.right {
  margin-left: 1rem;
  max-width: 60%;
}

figure {
  border-bottom: 4px solid var(--green);
  padding-bottom: 0.5rem;
  margin-top: 0.25rem;
}
figure figcaption {
  font-size: 0.75rem;
}
@media only screen and (min-width: 480px) {
  figure.right {
    margin-left: 1.5rem;
    margin-right: 0;
  }
}
@media only screen and (min-width: 480px) {
  figure.left {
    margin-right: 1.5rem;
    margin-left: 0;
  }
}

/* 
    Name: _text
    Descr: Base text styles, main body links, all the headin's
*/
p {
  margin: 0;
  margin-top: 1em;
}

a {
  color: var(--textMain);
}

/* 
    Name: _header
    Descr: Styles the main page header
*/
.pageHeader {
  display: grid;
  align-items: center;
}
@media only screen and (min-width: 782px) {
  .pageHeader {
    grid-template-columns: 1fr 1fr;
  }
}

.logo {
  display: grid;
  align-items: center;
}
@media only screen and (min-width: 1224px) {
  .logo {
    grid-template-columns: 100px 1fr;
  }
}
.logo a {
  font-size: 1.5rem;
  font-weight: var(--fontExtraBold);
  text-decoration: none;
}
@media only screen and (min-width: 1224px) {
  .logo a {
    margin-left: 1.25rem;
  }
}
.logo a span {
  display: block;
  font-size: 0.75rem;
  font-weight: var(--fontMedium);
  margin-top: -0.25rem;
}
.logo img {
  max-width: 100px;
}
@media only screen and (min-width: 1224px) {
  .logo img {
    max-width: 100%;
  }
}

/* 
    Name: _footer
    Descr: footer styles
*/
footer {
  margin-top: 6rem;
}
footer ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  padding: 1em;
}
footer ul li {
  margin: 0.5em 1em;
}
@media only screen and (min-width: 480px) {
  footer ul {
    padding: 0 2em 4em;
    flex-direction: row;
    font-size: 0.75rem;
  }
}
/* 
    Name: _hero
    Descr: Style for the hero image and header
*/
.hero {
  display: grid;
  margin-top: 4rem;
  gap: 2rem;
  align-items: center;
}
@media only screen and (min-width: 782px) {
  .hero {
    grid-template-columns: 6fr 4fr;
  }
}
.hero h1 {
  font-size: 2rem;
  font-weight: var(--fontExtraBold);
  line-height: 1em;
}
@media only screen and (min-width: 1224px) {
  .hero h1 {
    font-size: 3rem;
  }
}

/* 
    Name: _mainNav
    Descr: Styles responsive and full version of main navigaiton
*/
.mainNav {
  display: flex;
  margin-top: 2rem;
}
@media only screen and (min-width: 782px) {
  .mainNav {
    justify-content: flex-end;
    margin-top: 0;
  }
}
.mainNav a {
  display: inline-block;
  padding: 0.5em;
}
.mainNav a.button {
  margin-left: 0.5em;
}

/* 
    Name: _buttons
    Descr: Basic styles for buttons
*/
.button {
  border-radius: var(--borderRadius);
  padding: 0.5em 1em;
  display: inline-block;
}
@media only screen and (min-width: 782px) {
  .button {
    font-weight: var(--fontSemi);
  }
}
.button--cta {
  background: var(--brandOne);
}
.button--primary {
  background: var(--brandTwo);
  margin-top: 1em;
}
