:root {
  // main colors
  --bodyBackground: #e5e5e5;
  --containerBackground: #192234;
  --brandOne: #df4b2e;
  --brandTwo: #4ba3ce;
  --textMain: #fff;

  //font defaults
  --mainFont: "Raleway", sans-serif;
  --baseFontSize: 24px;
  --baseLineHeight: 1.5;

  // font weights
  --fontMedium: 500;
  --fontSemi: 600;
  --fontBold: 700;
  --fontExtraBold: 800;
}
