:root {
  // main colors
  --bodyBackground: #e5e5e5;
  --containerBackground: hsl(220 35% 15% / 1);
  --containerBackgroundTrans: hsl(221, 33%, 24%);
  --brandOne: #cf3e20;
  --brandTwo: #328cb8;
  --textMain: #fff;

  //font defaults
  --mainFont: "Raleway", sans-serif;
  --baseFontSize: 20px;
  --baseLineHeight: 1.5;

  @include mq(header) {
    --baseFontSize: 24px;
  }

  // font weights
  --fontMedium: 500;
  --fontSemi: 600;
  --fontBold: 700;
  --fontExtraBold: 800;
}
