/* 
    Name: _block
    Descr: Style the inpage block sections
*/

.block {
  margin-top: 6rem;
  &__title {
    font-weight: var(--fontExtraBold);
    font-size: 3rem;
    @include mq(medium) {
      font-size: 4rem;
    }
    margin: 0;
    line-height: 1;
  }
  // .block__title + div {
  //   margin-top: 2rem;
  // }
}

// circle blocks
.block--circly {
  position: relative;
  z-index: 2;
  // overflow: hidden;
  @include mq(medium) {
    &::before {
      position: absolute;
      content: "";
      background-image: url("/images/tishas-circle-big.png");
      background-repeat: no-repeat;
      width: 800px;
      height: 800px;
      top: 0rem;
      right: -50%;
      @include mq(large) {
        top: 3rem;
        right: calc(-1 * (50% + -10rem));
      }
      @include mq(xl) {
        right: -20%;
      }
      border-radius: 50%;
      z-index: -1;
    }
  }
}
