form {
  flex: 0 0 50%;
}
input,
textarea,
button {
  width: 100%;
  border: 1px solid var(--blue);
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.25rem;
}
textarea {
  height: 4rem;
}
button {
  width: 40%;
}
