/* 
    Name: _mainNav
    Descr: Styles responsive and full version of main navigaiton
*/
.mainNav {
  display: flex;
  gap: 0.5em;
  @include mq(medium) {
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 0.5em;
    }
  }

  // mobilie bits
  @media (max-width: 782px) {
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 30%;
    background: var(--containerBackground);
    padding: min(20vh, 8rem) 2rem;
    transform: translateX(100%);
    z-index: 1000;
    transition: transform 150ms ease-in;

    // blury bg
    @supports (backdrop-filter: blur(2rem)) {
      background: var(--containerBackgroundTrans);
      backdrop-filter: blur(3rem);
    }

    a {
      display: inline-block;
      padding: 0.25em 0.5em;
      // margin-bottom: 0.25em 0.5em;
      font-weight: var(--fontSemi);
    }

    &[data-visible="true"] {
      transform: translateX(0%);
    }
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 782px) {
  .mobile-nav-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2rem;
    position: absolute;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    .bar {
      width: 100%;
      height: 4px;
      border-radius: var(--borderRadius);
      background: var(--textMain);
      position: relative;
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: var(--borderRadius);
        background: var(--textMain);
        transition: transform 150ms ease-in;
      }
      &::before {
        top: -0.8em;
      }
      &::after {
        top: 0.8em;
      }
    }
    &[aria-expanded="true"] {
      .bar {
        background: transparent;
        &::before {
          transform: rotateZ(45deg) scaleX(1.25) translate(8px, 8px);
        }
        &::after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
        }
      }
    }
  }
}

// display: flex;
//         flex-direction: column;
//         .bar {
//           width: 1rem;
//           height: 4px;
//           border-radius: var(--border-radius);
//           background: var(--as-black);
//           position: relative;
//           &::before,
//           &::after {
//             position: absolute;
//             content: "";
//             width: 1rem;
//             height: 4px;
//             left: 0;
//             border-radius: var(--border-radius);
//             background: var(--as-black);
//           }
//           &::before {
//             top: -0.4rem;
//           }
//           &::after {
//             top: 0.35rem;
//           }
//           &.open {
//             background: transparent;
//             &::before {
//               transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
//             }
//             &::after {
//               transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
//             }
//           }
//         }
