/* 
    Name: _mainNav
    Descr: Styles responsive and full version of main navigaiton
*/
.mainNav {
  display: flex;
  gap: 1em;
  font-size: 0.8rem;
  @include mq(medium) {
    align-items: center;
    justify-content: flex-end;
    a:not(.button) {
      // padding: 0.5em;
      position: relative;
      text-decoration: none;
      overflow: hidden;
      &::before,
      &::after {
        position: absolute;
        margin-right: 0.75em;
        content: "";
        height: 1px;
        width: 100%;
        background-color: var(--brandTwo);
        left: 0;
        bottom: 0;
      }
      &::after {
        background-color: var(--brandOne);
        transform: translateX(-100%);
        transition: transform 150ms ease-in-out;
      }
      &:hover {
        &::after {
          transform: translateX(0);
        }
      }
    }
    a.current {
      &::after {
        height: 3px;
        transform: translateX(0);
      }
    }
  }

  // mobilie bits
  @media (max-width: 782px) {
    position: fixed;
    flex-direction: column;
    inset: 0 0 0 30%;
    background: var(--containerBackground);
    // background: red;
    padding: min(20vh, 8rem) 2rem;
    transform: translateX(100%);
    // -webkit-transform: translateX(100%);
    z-index: 1000;
    transition: transform 150ms ease-in;

    // blury bg
    @supports (backdrop-filter: blur(2rem)) {
      background: var(--containerBackgroundTrans);
      backdrop-filter: blur(3rem);
    }

    a {
      display: inline-block;
      padding: 0.25em 0.5em;
      font-weight: var(--fontSemi);
    }

    &[data-visible="true"] {
      transform: translateX(0%);
    }
  }
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 782px) {
  .mobile-nav-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 2rem;
    position: absolute;
    aspect-ratio: 1;
    border: none;
    background-color: transparent;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
    .bar {
      width: 100%;
      height: 4px;
      border-radius: var(--borderRadius);
      background: var(--textMain);
      position: relative;
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: var(--borderRadius);
        background: var(--textMain);
        transition: transform 150ms ease-in;
      }
      &::before {
        top: -0.8em;
      }
      &::after {
        top: 0.8em;
      }
    }
    &[aria-expanded="true"] {
      .bar {
        background: transparent;
        &::before {
          transform: rotateZ(45deg) scaleX(1.25) translate(9px, 9px);
        }
        &::after {
          transform: rotateZ(-45deg) scaleX(1.25) translate(5px, -6px);
        }
      }
    }
  }
}
