---
title: About Marteal Consulting, LLC
layout:  basicPage
description: Nonprofit leader.
---

<p>Marteal Consulting, LLC is exclusively designed to help your nonprofit thrive, with an ultimate goal of making the world a better place for all.  Our 5 core values of <strong><em>presence</em></strong>, <strong><em>integrity</em></strong>, <strong><em>compassion</em></strong>, <strong><em>courage</em></strong>, and <strong><em>efficacy</em></strong> are threaded through our work and help your nonprofit move closer to fulfilling its purpose.</p>

<h2>Erin Marteal, CEO</h2>
<figure class="right"> <img src="/images/erin-marteal-portrait.jpg" alt="Erin Marteal"/><figcaption>Erin Marteal, CEO</figcaption></figure>
<p>As executive director of community-based nonprofit (2011-22), Erin (she/her) led a transformational organizational change with rippling community impact. Over the course of a decade, she led the growth of the staff team from 1 to 10, the board of directors from 3 to 11, annual visitation from 9,000 to 70,000+, weathered the pandemic establishing new contracts to deepen mission impact, and grew the annual operating budget from $40,000 to $530,000. Erin retired $60,000 of inherited debt within the first 2 years and stepped down after 10 years with 3 months of operating reserves in the bank, a well-respected world-class brand with numerous strategic partnerships, and awards earned by an excpetional reputation in the community and nationally.
</p>


<p>Erin's expertise ranges from board development, team engagement, increasing representation, collaborative processes, and fund development, to problem solving through innovation, strategic planning for structure and flexibility, and community alliance-building for impact.</p>


<h3>A mission-driven empathetic ally</h3>
<p>Leveraging more than a decade of transformative nonprofit leadership as executive director, along with board service and collaborative leadership experience with a consortium of 100 fellow executive directors, Erin's desire to see nonprofits reach their goals in service to a better world is central to her personal and professional purpose. Her passion is to facilitate the effective work of nonprofit leaders with presence, joy, and impact. She collaborates with executives and organizational leadership teams to do their best, be their best and love their work.</p>
<div class="quotes">
	<div class="quote">
		<div class="quote__image">
			<img src="/images/Ginger-Jung.jpg" alt="Ginger Jung">
			
		</div>
		<blockquote>
			<p>Erin has powerful vision. She not only sees the potential in individuals, teams, ideas, and resources, Erin connects them dynamically and effectively. Undaunted by the work to get from A to Z, Erin has the heart, mind, and ingenuity of a world changer. I have seen her uplift the strengths she sees in others through thoughtful strategizing, leadership, and counsel. Her creative dot-connecting helps mission-based organizations focus on what they really want to do and how to get there. Bonus—she’s a dream to work with!</p>
			<p class="quote__attribution">
				Ginger Jung <br />Assistant Director of Admissions, Cornell Engineering
			</p>
		</blockquote>
	</div>
</div>
