---
title: About Marteal Cycle Works
layout:  base
description: Custom bicycle builder and bicycle painter in Richmond, VA.
---
<h1>About Marteal Cycle Works</h1>
<figure class="right fortyP">
    <img src="/images/bob-Marteal.jpg" alt="diagram showing custom fit measurements in relation to frame">
    <figcaption>
        Bob Marteal
    </figcaption>
</figure>

<p>
    I founded Marteal Cycle Works with the belief that everyone deserves to experience joy, adventure, and wonder on a bike. Further, every cyclist, whether an avid racer, an occasional tourer, or a total beginner deserves to be valued and respected as a person, a cyclist, and a customer.
</p>
<p>
    I have been an active cyclist, and shade-tree bicycle mechanic, since saving lawn-mowing money and buying my first bicycle in 1992. As years and bicycles went by, I always had a feeling that my lack of racing, long-distance touring or technical understanding of how
    bicycles work was a barrier to me connecting with bicycling resources.
</p>

<h2>
    Not a forever bike
</h2>

<p>
    I never found the shop or person I could reach out to and feel safe in asking the questions that really need to be asked to find the right bike. In 2014, after loads of research, I purchased what I thought would be my forever-bike. After just a few days I began to have doubts. I chalked it up to the newness, and my inexperience with the type of bicycle. Shortly after, I was sure that in-fact, I had not gotten the right bicycle, and I didn’t feel I had anywhere to turn.    
</p>
<p>
    My bicycle did not fit and lead to knee injuries, wrist and back pain, and discomfort. The poor fit made me feel less safe and secure, leading to hesitation in less stable conditions (gravel and wet pavement). I was limited in my exploration of the world around me and was not experiencing joy. A poorly matched bicycle was keeping my cycling ambitions on a short leash.    
</p>
<h2>
    Bespoke?    
</h2>
<p>
    As a bicycle commuter and weekend warrior, bicycle riding was not my life or identity, but it was an important part of it. I knew there was potential to make it even more integral to my life if I could just find the right bike.    
</p>
<p>
    After years of cycling on ill-fitting bicycles and unsuccessfully trying to find a solution, I came across the world of the bespoke bicycle.    
</p>
<blockquote>
    Bespoke: made for a particular customer or user; custom; one of one    
</blockquote>
<p>
    I learned about craftspeople that measure an individual rider, design a custom bicycle and build it by hand to create a unique vehicle. The confluence of craft and design nestled its way into my thoughts and soon I was devouring everything available to me to learn about this new possibility.    
</p>
<h2>
    Ah ha    
</h2>
<p>
    The decision to pursue this dream happened one cold winter day while tapping a hole into a sheared bolt on my bicycle. I felt the teeth of the bit bite into the steel and knew immediately, without any doubt, manipulating and creating with this material was the thing I was called to do. With the tremendous support of my family I enrolled in a 7-day bicycle frame building class at the Bicycle Academy in Frome, England and set out a rather simple mission:    
</p>

<div class="lede">
    <p>
        Build custom bicycles - so everyday people - can have - and ride - the bicycle of their dreams and experience joy and wonder while exploring the world wherever they may go.
    </p>
    <div class="icon--bicycle"></div>
</div>
<h2>
    My hope...
</h2>
<p>
    I hope to be the resource that I always wished I had. I want to provide my clients with a safe place to ask questions and be heard. I want to provide stellar service, and exquisite experiences and bicycles.
</p>
