---
title: Marteal Consulting, a Nonprofit success consultancy
description: Learn how a compassionate and results-driven approach can push your non-profit in new directions.
layout: base
---

<div class="hero">
	<img
		src="/images/civic/full-side-finished.jpg"
		alt="the Civic on the path in the park"
	/>
	<h1>Empowering non-profit leaders to achieve measurable success</h1>
	<p>Learn how a compassionate and results-driven approach can push your non-profit in new directions.</p>
	<p><a href="#">Schedule a call</a></p>
</div>