---
title: Marteal Consulting, a Nonprofit success consultancy
description: Learn how a compassionate and results-driven approach can push your non-profit in new directions.
layout: base
---

<div class="hero">
	<div class="hero__text">
		<h1>Empowering non-profit leaders to achieve measurable success</h1>
	<p>Learn how a compassionate and results-driven approach can push your non-profit in new directions.</p>
	<p><a href="#" class="button button--primary">Schedule a call</a></p>
	</div>

	<img
		src="/images/test-hero.jpeg"
		alt=""
		class="hero__image"
	/>
</div>