---
title: Marteal Consulting LLC, a Nonprofit success consultancy
description: Learn how a compassionate and results-driven approach can push your nonprofit in new directions.
layout: homePage
---

<div class="hero">
	<div class="hero__text">
		<h1>Empowering nonprofit leaders to achieve measurable success</h1>
	<p>Learn how a compassionate and results-driven approach can pull your nonprofit in new directions.</p>
	<p><a href="#contact-form" class="button button--primary">Schedule a call</a></p>
	</div>

	<img
		src="/images/arms-circle.jpg"
		alt=""
	/>
</div>

<div class="block">
	<h2 class="block__title">Services</h2>


	<div class="columns columns--two">
		<div>
			<h3>Executive Support</h3>
			<p>Through focused dialogue with an experienced leader, our work will position your ED for success.</p>
			<ul>
			<li>Confidential leadership sounding board</li>
			<li>Mentorship for new EDs</li>
			<li>Dealing with difficult situations</li>
			<li>Organizational relationships</li>
			</ul>
			<p><a href="/services#executive-support" class="button button--primary">See executive support services</a></p>
		</div>
		<div>
			<h3>Organizational Support</h3>
			<p>Together we can work through common hurdles in the nonprofit sector to achieve your mission.</p>
			<ul>
				<li>Board development</li>
				<li>Strategic planning</li>
				<li>Fund development</li>
				<li>Creating a world class brand</li>
			</ul>
			<p><a href="/services#organizational-support" class="button button--primary">See organizational support services</a></p>
		</div>
		
	</div>


</div>
<div class="block">
	<h2 class="block__title">Exploring the possible</h2>
	<p>Is it the right time to explore what's possible? Here are some examples of times nonprofits have called on Marteal Consulting:</p>
	{# <p>Examples of “right times” clients have hired Marteal Consulting</p> #}
	<ul>
		<li>An internal candidate is preparing to transition, or recently transitioned to an executive or senior leadership role
	</li>
		<li>A startup needs support in effective board development, staff development, fund development, and operational strategy
	</li>
		<li>A board seeks to retain executive talent through highly tailored support, professional development, and an experienced sounding board for leadership
	</li>

	</ul>
	<p>We know every nonprofit is unique. We love learning about your unique goals and challenges and <a href="/services">how we can help</a>! </p>
</div>
<div class="block">
<div class="hero">
	<div class="hero__text">
		<h1>Mission-driven nonprofit leadership expertise</h1>
	<p>CEO Erin Marteal has experience leading transformational change in the nonprofit landscape.</p>
	<p><a href="about" class="button button--primary">Learn about Marteal Consulting</a></p>
	</div>
	<img src="/images/erin-marteal.jpg" alt="Erin Marteal"/>
</div>
</div>


<div class="block">
	{% include "_blockquotes.njk" %}
</div>
