---
title: The Process
layout:  basicPage
description: Working with Marteal Consulting

---


	<p>Is it the right time to explore what's possible? Here are some examples of times nonprofits have called on Marteal Consulting:</p>
	{# <p>Examples of “right times” clients have hired Marteal Consulting</p> #}
	<ul>
		<li>An internal candidate is preparing to transition, or recently transitioned to an executive or senior leadership role
	</li>
		<li>A startup needs support in effective board development, staff development, fund development, and operational strategy
	</li>
		<li>A board seeks to retain executive talent through highly tailored support, professional development, and an experienced sounding board for leadership
	</li>

	</ul>
	<p>We know every nonprofit is unique. We love learning about your unique goals and challenges and <a href="/services">how we can help</a>! </p>

<div class="block">
<h2>
    Making your big vision real
</h2>
<p>
    Our respect for the demands of nonprofit work- and the unicorns who carry out the work - runs deep. Your specific needs inform how we tailor our approach to best support your organizational progress. Our goal is that you walk away from our engagement with practical tools you can confidently implement, new strategies for working through obstacles, and refreshed energy to make your BIG vision real.
</p>
<h2>The nuts and bolts</h2>
<h3>Are you ready? We'd love to hear from you.</h3>
<p>So, you got this far and you want to know what's next.</p>
<p class="step">Step 1</p>
<p> Get in touch by our <a href="#contact-form">contact form</a> <a href="mailto:erin@martealconsulting.com">email</a>, <a href="tel:606-227-2982">(607) 227-2982</a> to share your initial thoughts on what you'd like to work on together.</p>
<p class="step">Step 2</p>
<p> We will connect over a complimentary discovery session. This generally lasts 45-60 minutes but could be as quick as 30 or take up to 75, depending on your unique situation and needs. You'll share more about your situation and I will probe for understanding. My aim here is to assess whether I am a fit for your needs. You will also be getting to know me and assessing fit.</p>
<p>
If I have any concerns about my ability to help you meet your goals, I will share those proactively and transparently. If I think you would be served best by a different service or resource, I will point you that way. If we need another call with an additional member of the team to discuss further, we can arrange that too. Taking time up front to clarify expectations is always a good use of time (our most valuable resource!).</p>
<p class="step">Step 3</p>
<p> How we move forward will be tailored to your needs, goals, timeline, and budget. You may already know what format would be most helpful to you. I will also have ideas for how to best structure our engagement to best meet your goals. I will clarify our engagement plan in writing to establish clear expectations. We will discuss, tweak as necessary, sign to indicate we are on the same page, and be off and running! </p>

</div>