---
title: Nonprofit consulting services
layout:  basicPage
description: Nonprofit leader.

---


<p>
Nonprofit leaders face challenges vast and varied every day, often before breakfast. Pulling in support at the right time can make the difference between inspiring progress and tapering morale. If you are facing an organizational or leadership transition, are planning something new or unfamiliar, or keep bumping up against roadblocks on a special initiative, working with an experienced nonprofit leader - especially one who has been in your shoes - can help. It can also help you reconnect with the joy of your work.
</p>
<h2>
Examples of “The right time” clients hire Marteal Consulting
</h2>
<ul>
<li>
An internal candidate is preparing to transition, or recently transitioned to executive role</li><li>

A startup needs support in effective board development, staff development, fund development, and operational strategy</li><li>
A board seeking to retain executive talent through highly tailored support, professional development, and an experienced sounding board for leadership</li>
</ul>

