---
title: Nonprofit consulting services
layout:  basicPage
description: Nonprofit leader.

---
<h3 id="consulting">Live, Learn, Lead.</h3>

<p>You care about your cause. A lot. At times, it gets everything you have. Sometimes, it needs even more.</p>

<p>Whether you've just launched a    nonprofit, are struggling with how to recruit the right leaders to your board, or want to shore up your intermittent funding for the long-haul, Marteal Consulting has you.</p><p>With an experienced, compassionate nonprofit leader who has lived, learned, and lead through many of the challenges you likely face (though every situation is unique), you will not be alone. Feel and be supported as you live through the challenge, learn how to strategically deploy the resources you DO have, and bring more presence, joy, and impact to your work and organization.
</p>

<h3>What does nonprofit consulting look like? </h3>

<p>Marteal Consulting leverages years of leadership experience and numerous resources to best support you along your unique journey. Below are some examples of the types of work you might engage in with Marteal Consulting.</p>
<ul>

<li>Vetting your plan for board development (or helping you develop your plan)</li><li>
Developing an organizational chart</li><li>
Role definition and clarity</li><li>
Building the foundation of a healthy engaged organizational culture</li><li>
Strategic partnerships</li><li>
Fund development </li><li>
Donor cultivation and stewardship planning</li><li>
Strategy and innovation</li><li>
Building a world class brand</li><li>
Communications within and across teams</li><li>
Planning your work - from today’s To Do’s to 5-year strategic plan</li><li>
Volunteer management</li>
</ul>





<h2 id="support">Executive support</h2>
<p>
Nonprofit leaders face challenges vast and varied every day, often before breakfast. Pulling in support at the right time can make the difference between inspiring progress towards identified goals and tapering morale. If you are facing an organizational or leadership transition, keep bumping up against roadblocks on a special initiative, or struggle to rally your team, working with an experienced nonprofit leader - outside of your organization - can help. Not only can the right support at the right time help you save time and expense, increase revenues, and accomplish your goal, it can help you restore joy to your workday and much deserved and necessary relaxation to your after hours.

</p>

<h3>What does executive support look like?</h3>
<ul>

<li>
A safe, non judgemental sounding board for your team's most influential asset
</li>
<li>A “tool” in your executive director's backpocket, available when needed, as needed
</li>
<li>“When I can't talk to my staff and I'm not ready to talk to the board”
</li>
<li>Overcome functional isolation
</li>
<li>Help shape clarity around priorities and where to start
</li>
<li>Supportive accountability buddy
</li>
<li>Help ED troubleshoot tricky team dynamics 
</li>
<li>Norm checking to support health promoting behaviors because more work is not necessarily more better</li>
<li>Support ED in the elusive art of delegation
</li>
<li>Help ED feel energized and reconnected to their purpose
</li>
<li>Providing effective feedback and helping cultivate a culture of effective feedback
</li>
</ul>
