---
title: Nonprofit consulting services
layout:  basicPage
description: Nonprofit leader.

---


<p>
Nonprofit leaders face challenges vast and varied every day, often before breakfast. Pulling in support at the right time can make the difference between inspiring progress and tapering morale. If you are facing an organizational or leadership transition, are planning something new or unfamiliar, or keep bumping up against roadblocks on a special initiative, working with an experienced nonprofit leader - especially one who has been in your shoes - can help. It can also help you reconnect with the joy of your work.
</p>
<h3>
Examples of “the right time” clients hire Marteal Consulting
</h3>
<ul>
<li>
An internal candidate is preparing to transition, or recently transitioned to executive role</li><li>

A startup needs support in effective board development, staff development, fund development, and operational strategy</li><li>
A board seeking to retain executive talent through highly tailored support, professional development, and an experienced sounding board for leadership</li>
</ul>

<h2>Executive support</h2>
<p>
With more than a decade of nonprofit leadership experience, Marteal Consulting has extensive expertise in Leveraging the power of people (board development; recruiting, hiring, and supporting the team; building a healthy, engaged team culture, strategic partnerships), Fund Development; Strategy and innovation; Building a world class brand.
</p>

<h3>Executive support solutions</h3>
<ul>


<li>
Sounding board for your team’s most important leader</li><li>
Tool in backpocket</li><li>
“For when you can’t talk to your staff”</li><li>
Overcome functional isolation</li><li>
Help ED gain clarity around low hanging fruit</li><li>
Be voice and ears when overwhelmed</li><li>
Be action agent</li><li>
Help ED build supportive team</li><li>
Work life balance</li><li>
Help ED feel energized and excited</li><li>
Connect to what they love about job</li><li>
Delegation!! </li><li>
Shift from more with less to less with more</li><li>
Providing effective feedback</li><li>
Cultivating culture of effective feedback</li></ul>
